<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MinLineLengh" value="5"/>
    <add key="MaxLineLengh" value="10"/>
    <add key="MinInterval" value="500"/>
    <add key="MaxInterval" value="2000"/>
    <add key="FirstASCIICharacter" value="48"/>
    <add key="LastASCIICharacter" value="128"/>
    <add key="MinThreadCount" value="2"/>
    <add key="MaxThreadCount" value="15"/>
  </appSettings>
</configuration>